body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .header-top{
    background-color: #5598D2;
    color: aliceblue;
    max-height: 100%;
    height: 26px;
    max-width: 100%;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    font-size: 15px;
}

.header-top a{
    text-decoration: none;
    color: aliceblue;
}
.header-top a:hover{
    color: aquamarine;
    cursor: pointer;
}

.logo-header img{
    max-height: 100%;
    height: 110px;
    padding: 5px 5px 5px 30px;
}

nav{
    background-color: #5598d248;
}

ul{
    list-style-type: none;
    margin: 0%;
    padding-top: 40px;

}

header nav li{
    display: inline;
    float: left;
    margin-right: 10px;
    
}

header nav a{
    text-decoration: none;
}